# Analyzing Player Performances

In [98]:
#Importing Libraries
import numpy as np #To handle Mathematical calculations
import matplotlib.pyplot as plt #To plot charts 
%matplotlib inline
import pandas as pd #TO import and manage datasets
import glob
import os
# pd.set_option('display.max_columns', None)  
# pd.set_option('display.max_rows', None)

In [99]:
#Combining All Offensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Offensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
    li.append(individualOffensivePlayerDataframe)

combinedOffensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [100]:
#Combining All Defensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Defensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
    li.append(individualOffensivePlayerDataframe)

combinedDefensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [101]:
#Combining All Passing Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Passing*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
    li.append(individualOffensivePlayerDataframe)

combinedPassingPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [102]:
#Combining All Summary Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Summary*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
    li.append(individualOffensivePlayerDataframe)

combinedSummaryPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [103]:
combinedOffensivePlayerDataframe.head()

,Name,Team,Age,Position,Apps,Minutes,Total goals,Total Assists,Shots per game,Key passes per game,Dribbles per game,Fouled per game,Offsides per game,Dispossessed per game,Bad control per game,Rating,League,Season
0,Arjen Robben,Bayern Munich,26,"M(CLR),FW",18,1779,16,6,3.4,1.8,4,2.2,0.3,2.1,-,8.18,Bundesliga,2009
1,Stefan Kießling,Bayer Leverkusen,26,FW,33,2924,21,5,3,1.6,1.1,3.1,1.8,2.2,-,7.79,Bundesliga,2009
2,Zvjezdan Misimovic,Wolfsburg,28,"AM(C),FW",31,2768,10,13,2.4,3.3,1.5,2.1,0.3,3.1,-,7.74,Bundesliga,2009
3,Edin Dzeko,Wolfsburg,24,FW,33,3003,22,7,4.5,1.1,2,1.7,1.6,2.9,-,7.73,Bundesliga,2009
4,Claudio Pizarro,Werder Bremen,31,"AM(C),FW",23,2130,16,2,2.6,1.3,1.2,1.2,1.4,3.1,-,7.63,Bundesliga,2009

In [104]:
#combining all the DFs'

combinedPlayerDataframe = pd.concat([combinedOffensivePlayerDataframe, combinedDefensivePlayerDataframe, combinedPassingPlayerDataframe, combinedSummaryPlayerDataframe], axis=1)

combinedPlayerDataframe = combinedPlayerDataframe.loc[:,~combinedPlayerDataframe.columns.duplicated()]

#Removing all the goal keepers to test whether it improves the accuracy of the model.
combinedFieldPlayersDf = combinedPlayerDataframe[combinedPlayerDataframe.Position != 'GK']

#Removing field players who have played less than 10 matches
#combinedProperFieldPlayersDf = combinedFieldPlayersDf[~(combinedFieldPlayersDf['Apps'] < 8)]

## Testing Regression

In [105]:
#list column names
#[(f"column {i+1} : {column}") for i, column in enumerate(combinedSummaryPlayerDataframe.columns)] # 59% 
#[(f"column {i+1} : {column}") for i, column in enumerate(combinedPlayerDataframe.columns)] # 75%
[(f"column {i+1} : {column}") for i, column in enumerate(combinedFieldPlayersDf.columns)] # 80%
#[(f"column {i+1} : {column}") for i, column in enumerate(combinedProperFieldPlayersDf.columns)]

['column 1 : Name',
 'column 2 : Team',
 'column 3 : Age',
 'column 4 : Position',
 'column 5 : Apps',
 'column 6 : Minutes',
 'column 7 : Total goals',
 'column 8 : Total Assists',
 'column 9 : Shots per game',
 'column 10 : Key passes per game',
 'column 11 : Dribbles per game',
 'column 12 : Fouled per game',
 'column 13 : Offsides per game',
 'column 14 : Dispossessed per game',
 'column 15 : Bad control per game',
 'column 16 : Rating',
 'column 17 : League',
 'column 18 : Season',
 'column 19 : Tackles per game',
 'column 20 : Interceptions per game',
 'column 21 : Fouls per game',
 'column 22 : Clearances per game',
 'column 23 : Dribbled past per game',
 'column 24 : Outfield blocks per game',
 'column 25 : Own goals',
 'column 26 : Passes per game',
 'column 27 : Pass success percentage',
 'column 28 : Crosses per game',
 'column 29 : Long balls per game',
 'column 30 : Through balls per game',
 'column 31 : Total Goals',
 'column 32 : Yellow cards',
 'column 33 : Red cards',
 'column 34 : Aerials won per game',
 'column 35 : Man of the match']

In [106]:
#Remove unwanted columns
#finalDf = combinedSummaryPlayerDataframe.drop(["Team", "Position", "League", "Season"], axis = 1)
finalDf = combinedFieldPlayersDf.drop(["Team", "Position", "League", "Season"], axis = 1)
# finalDf = combinedFieldPlayersDf
#finalDf = combinedProperFieldPlayersDf.drop(["Team", "Position", "League", "Season"], axis = 1)

In [107]:
#replace - fields with 0
finalDf = finalDf.replace('-', 0)

In [108]:
#checks if duplicates exists
finalDf.duplicated().any()

False

In [109]:
#removes NaN values
# finalDf = finalDf.dropna()
finalDf = finalDf.fillna(0)

In [110]:
#check if null value exitst
finalDf.isnull().any()

Name                        False
Age                         False
Apps                        False
Minutes                     False
Total goals                 False
Total Assists               False
Shots per game              False
Key passes per game         False
Dribbles per game           False
Fouled per game             False
Offsides per game           False
Dispossessed per game       False
Bad control per game        False
Rating                      False
Tackles per game            False
Interceptions per game      False
Fouls per game              False
Clearances per game         False
Dribbled past per game      False
Outfield blocks per game    False
Own goals                   False
Passes per game             False
Pass success percentage     False
Crosses per game            False
Long balls per game         False
Through balls per game      False
Total Goals                 False
Yellow cards                False
Red cards                   False
Aerials won per game        False
Man of the match            False
dtype: bool

In [111]:
#returns DF shape
finalDf.shape

(27918, 31)

In [112]:
#check column data types
finalDf.dtypes

Name                         object
Age                           int64
Apps                          int64
Minutes                       int64
Total goals                  object
Total Assists                object
Shots per game               object
Key passes per game          object
Dribbles per game            object
Fouled per game              object
Offsides per game            object
Dispossessed per game        object
Bad control per game         object
Rating                      float64
Tackles per game             object
Interceptions per game       object
Fouls per game               object
Clearances per game          object
Dribbled past per game       object
Outfield blocks per game     object
Own goals                    object
Passes per game              object
Pass success percentage      object
Crosses per game             object
Long balls per game          object
Through balls per game       object
Total Goals                  object
Yellow cards                 object
Red cards                    object
Aerials won per game         object
Man of the match             object
dtype: object

In [113]:
#replace Name column with dummy data for each different player names
finalDf = pd.get_dummies(finalDf, columns=["Name"])
# finalDf = pd.get_dummies(finalDf, columns=["Name", "Team", "Position", "League", "Season"])
finalDf.dtypes

Age                     int64
Apps                    int64
Minutes                 int64
Total goals            object
Total Assists          object
                        ...
Name_Óscar Serrano      uint8
Name_Óscar Trejo        uint8
Name_Ömer Toprak        uint8
Name_Özkan Yildirim     uint8
Name_Ümit Korkmaz       uint8
Length: 8605, dtype: object

In [114]:
#convert object data types to flot (except for names)
cols = finalDf.select_dtypes(exclude=['uint8']).columns
finalDf[cols] = finalDf[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

finalDf.dtypes

Age                    float32
Apps                   float32
Minutes                float32
Total goals            float32
Total Assists          float32
                        ...
Name_Óscar Serrano       uint8
Name_Óscar Trejo         uint8
Name_Ömer Toprak         uint8
Name_Özkan Yildirim      uint8
Name_Ümit Korkmaz        uint8
Length: 8605, dtype: object

In [115]:
finalDf.head()

,Age,Apps,Minutes,Total goals,Total Assists,Shots per game,Key passes per game,Dribbles per game,Fouled per game,Offsides per game,...,Name_Óscar Díaz,Name_Óscar Melendo,Name_Óscar Plano,Name_Óscar Rodríguez,Name_Óscar Romero,Name_Óscar Serrano,Name_Óscar Trejo,Name_Ömer Toprak,Name_Özkan Yildirim,Name_Ümit Korkmaz
0,26.0,18.0,1779.0,16.0,6.0,3.4,1.8,4.0,2.2,0.3,...,0,0,0,0,0,0,0,0,0,0
1,26.0,33.0,2924.0,21.0,5.0,3.0,1.6,1.1,3.1,1.8,...,0,0,0,0,0,0,0,0,0,0
2,28.0,31.0,2768.0,10.0,13.0,2.4,3.3,1.5,2.1,0.3,...,0,0,0,0,0,0,0,0,0,0
3,24.0,33.0,3003.0,22.0,7.0,4.5,1.1,2.0,1.7,1.6,...,0,0,0,0,0,0,0,0,0,0
4,31.0,23.0,2130.0,16.0,2.0,2.6,1.3,1.2,1.2,1.4,...,0,0,0,0,0,0,0,0,0,0

In [116]:
#Creating X, y datasets (X = everything except rating, y = just the rating)
X = finalDf.drop(['Rating'], axis = 1)
y = np.array(finalDf['Rating'])
y

array([8.18, 7.79, 7.74, ..., 5.74, 5.73, 5.42], dtype=float32)

In [117]:
#Splitting into training & test datasets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)

In [118]:
#Training with different regressors
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import model_selection

seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)


dtm = DecisionTreeRegressor()
scoring = 'r2'
y_pred = dtm.fit(X_train,y_train).predict(X_train)
results = model_selection.cross_val_score(dtm, X_test, y_test, cv=kfold, scoring=scoring)
print("DecisionTreeRegressor")
print(results.mean(), results.std())

rfm = RandomForestRegressor()
scoring = 'r2'
y_pred = rfm.fit(X_train,y_train).predict(X_train)
results = model_selection.cross_val_score(rfm, X_test, y_test, cv=kfold, scoring=scoring)
print("RandomForestRegressor")
print(results.mean(), results.std())

DecisionTreeRegressor
0.6248879235879169 0.026395466855891656

C:\Users\Suwadith\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor
0.7963076292077054 0.017716823373362573

## Testing Multivariate Time Series

In [119]:
columns = list(combinedFieldPlayersDf.columns.values)
columns.remove('Season')
columns.remove('Name')
columns

['Team',
 'Age',
 'Position',
 'Apps',
 'Minutes',
 'Total goals',
 'Total Assists',
 'Shots per game',
 'Key passes per game',
 'Dribbles per game',
 'Fouled per game',
 'Offsides per game',
 'Dispossessed per game',
 'Bad control per game',
 'Rating',
 'League',
 'Tackles per game',
 'Interceptions per game',
 'Fouls per game',
 'Clearances per game',
 'Dribbled past per game',
 'Outfield blocks per game',
 'Own goals',
 'Passes per game',
 'Pass success percentage',
 'Crosses per game',
 'Long balls per game',
 'Through balls per game',
 'Total Goals',
 'Yellow cards',
 'Red cards',
 'Aerials won per game',
 'Man of the match']

In [128]:
#Switching the pivot table structure to a different form to analyse time series data 
seasonNameCombinedFieldPlayerDF = combinedFieldPlayersDf.pivot_table(index=['Season'], columns=['Name'], values=columns, aggfunc='first').reset_index()

seasonNameCombinedFieldPlayerDF.head()

     Season Aerials won per game                                       \
Name             Aaron Cresswell Aaron Hughes Aaron Hunt Aaron Lennon
0      2009                  NaN          2.4        0.2            -
1      2010                  NaN          2.8        0.2          0.1
2      2011                  NaN          1.8        0.6          0.2
3      2012                  NaN          2.9        0.6          0.2
4      2013                  NaN          3.2        1.1          0.1

                                                                           \
Name Aaron Leya Iseka Aaron McLean Aaron Meijers Aaron Mokoena Aaron Mooy
0                 NaN          NaN           NaN             1        NaN
1                 NaN          NaN           NaN           NaN        NaN
2                 NaN          NaN           NaN           NaN        NaN
3                 NaN          NaN           NaN           NaN        NaN
4                 NaN            -             1           NaN        NaN

      ... Yellow cards                                                         \
Name  ...   Óscar Díaz Óscar Melendo Óscar Plano Óscar Rodríguez Óscar Romero
0     ...          NaN           NaN         NaN             NaN          NaN
1     ...          NaN           NaN         NaN             NaN          NaN
2     ...          NaN           NaN         NaN             NaN          NaN
3     ...          NaN           NaN         NaN             NaN          NaN
4     ...            4           NaN         NaN             NaN          NaN


Name Óscar Serrano Óscar Trejo Ömer Toprak Özkan Yildirim Ümit Korkmaz
0                7         NaN           3            NaN            2
1                1         NaN           2            NaN            -
2                1           5           5            NaN          NaN
3              NaN         NaN           8              -          NaN
4              NaN           4           5              -          NaN

[5 rows x 282976 columns]

In [129]:
#replace - fields with 0
seasonNameCombinedFieldPlayerDF = seasonNameCombinedFieldPlayerDF.replace('-', 0)

In [130]:
#checks if duplicates exists
seasonNameCombinedFieldPlayerDF.duplicated().any()

False

In [131]:
#removes NaN values
# seasonNameCombinedFieldPlayerDF = seasonNameCombinedFieldPlayerDF.fillna(0)

In [132]:
#check if null value exitst
seasonNameCombinedFieldPlayerDF.isnull().any()

                      Name
Season                                   False
Aerials won per game  Aaron Cresswell     True
                      Aaron Hughes        True
                      Aaron Hunt          True
                      Aaron Lennon       False
                                         ...
Yellow cards          Óscar Serrano       True
                      Óscar Trejo         True
                      Ömer Toprak        False
                      Özkan Yildirim      True
                      Ümit Korkmaz        True
Length: 282976, dtype: bool

In [133]:
seasonNameCombinedFieldPlayerDF

     Season Aerials won per game                                       \
Name             Aaron Cresswell Aaron Hughes Aaron Hunt Aaron Lennon
0      2009                  NaN          2.4        0.2            0
1      2010                  NaN          2.8        0.2          0.1
2      2011                  NaN          1.8        0.6          0.2
3      2012                  NaN          2.9        0.6          0.2
4      2013                  NaN          3.2        1.1          0.1
5      2014                  1.4          NaN        0.4          0.2
6      2015                  1.1          NaN        1.1            0
7      2016                  1.4          NaN        0.6            0
8      2017                  1.6          NaN        0.7          0.5
9      2018                  1.3          NaN        NaN          0.1

                                                                           \
Name Aaron Leya Iseka Aaron McLean Aaron Meijers Aaron Mokoena Aaron Mooy
0                 NaN          NaN           NaN             1        NaN
1                 NaN          NaN           NaN           NaN        NaN
2                 NaN          NaN           NaN           NaN        NaN
3                 NaN          NaN           NaN           NaN        NaN
4                 NaN          0.0             1           NaN        NaN
5                 NaN          NaN           1.4           NaN        NaN
6                 NaN          NaN           1.3           NaN        NaN
7                 0.8          NaN           1.3           NaN        NaN
8                 NaN          NaN           1.6           NaN        0.9
9                 1.2          NaN           2.2           NaN        0.5

      ... Yellow cards                                                         \
Name  ...   Óscar Díaz Óscar Melendo Óscar Plano Óscar Rodríguez Óscar Romero
0     ...          NaN           NaN         NaN             NaN          NaN
1     ...          NaN           NaN         NaN             NaN          NaN
2     ...          NaN           NaN         NaN             NaN          NaN
3     ...          NaN           NaN         NaN             NaN          NaN
4     ...            4           NaN         NaN             NaN          NaN
5     ...          NaN           NaN         NaN             NaN          NaN
6     ...          NaN           NaN         NaN             NaN          NaN
7     ...          NaN             0         NaN             NaN            3
8     ...          NaN             1         NaN             NaN            0
9     ...          NaN             3           8               5          NaN


Name Óscar Serrano Óscar Trejo Ömer Toprak Özkan Yildirim Ümit Korkmaz
0                7         NaN           3            NaN            2
1                1         NaN           2            NaN            0
2                1           5           5            NaN          NaN
3              NaN         NaN           8            0.0          NaN
4              NaN           4           5            0.0          NaN
5              NaN           4          10            0.0          NaN
6              NaN           6           2            0.0          NaN
7              NaN           4           6            NaN          NaN
8              NaN         NaN           1            NaN          NaN
9              NaN           5           0            NaN          NaN

[10 rows x 282976 columns]

In [134]:
seasonNameCombinedFieldPlayerDF.dtypes

                      Name
Season                                    object
Aerials won per game  Aaron Cresswell     object
                      Aaron Hughes        object
                      Aaron Hunt          object
                      Aaron Lennon        object
                                          ...
Yellow cards          Óscar Serrano       object
                      Óscar Trejo         object
                      Ömer Toprak         object
                      Özkan Yildirim     float64
                      Ümit Korkmaz        object
Length: 282976, dtype: object

In [137]:
seasonNameCombinedFieldPlayerDF['Season'] = pd.to_datetime(seasonNameCombinedFieldPlayerDF.Season , format = '%Y')
data = seasonNameCombinedFieldPlayerDF.drop(['Season'], axis=1)
data.index = seasonNameCombinedFieldPlayerDF.Season

C:\Users\Suwadith\Anaconda3\lib\site-packages\pandas\core\generic.py:3946: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [138]:
seasonNameCombinedFieldPlayerDF

         Season Aerials won per game                                       \
Name                 Aaron Cresswell Aaron Hughes Aaron Hunt Aaron Lennon
0    2009-01-01                  NaN          2.4        0.2            0
1    2010-01-01                  NaN          2.8        0.2          0.1
2    2011-01-01                  NaN          1.8        0.6          0.2
3    2012-01-01                  NaN          2.9        0.6          0.2
4    2013-01-01                  NaN          3.2        1.1          0.1
5    2014-01-01                  1.4          NaN        0.4          0.2
6    2015-01-01                  1.1          NaN        1.1            0
7    2016-01-01                  1.4          NaN        0.6            0
8    2017-01-01                  1.6          NaN        0.7          0.5
9    2018-01-01                  1.3          NaN        NaN          0.1

                                                                           \
Name Aaron Leya Iseka Aaron McLean Aaron Meijers Aaron Mokoena Aaron Mooy
0                 NaN          NaN           NaN             1        NaN
1                 NaN          NaN           NaN           NaN        NaN
2                 NaN          NaN           NaN           NaN        NaN
3                 NaN          NaN           NaN           NaN        NaN
4                 NaN          0.0             1           NaN        NaN
5                 NaN          NaN           1.4           NaN        NaN
6                 NaN          NaN           1.3           NaN        NaN
7                 0.8          NaN           1.3           NaN        NaN
8                 NaN          NaN           1.6           NaN        0.9
9                 1.2          NaN           2.2           NaN        0.5

      ... Yellow cards                                                         \
Name  ...   Óscar Díaz Óscar Melendo Óscar Plano Óscar Rodríguez Óscar Romero
0     ...          NaN           NaN         NaN             NaN          NaN
1     ...          NaN           NaN         NaN             NaN          NaN
2     ...          NaN           NaN         NaN             NaN          NaN
3     ...          NaN           NaN         NaN             NaN          NaN
4     ...            4           NaN         NaN             NaN          NaN
5     ...          NaN           NaN         NaN             NaN          NaN
6     ...          NaN           NaN         NaN             NaN          NaN
7     ...          NaN             0         NaN             NaN            3
8     ...          NaN             1         NaN             NaN            0
9     ...          NaN             3           8               5          NaN


Name Óscar Serrano Óscar Trejo Ömer Toprak Özkan Yildirim Ümit Korkmaz
0                7         NaN           3            NaN            2
1                1         NaN           2            NaN            0
2                1           5           5            NaN          NaN
3              NaN         NaN           8            0.0          NaN
4              NaN           4           5            0.0          NaN
5              NaN           4          10            0.0          NaN
6              NaN           6           2            0.0          NaN
7              NaN           4           6            NaN          NaN
8              NaN         NaN           1            NaN          NaN
9              NaN           5           0            NaN          NaN

[10 rows x 282976 columns]

In [ ]:
#TODO
#Get a seperate DF of players who have 10 years of rating
#Split that into 2 and use 1 as training and the other as testing Datasets
#After making a pivot table there replace NaN with 0 (Coz if rating exists then NaN means it's 0)
#Try implementing Multivariate Time Series (Which uses all the similar data to train the model)