## Analyzing Player Performances v2

In [1]:
#Importing Libraries
import numpy as np #To handle Mathematical calculations
import matplotlib.pyplot as plt #To plot charts 
%matplotlib inline
import pandas as pd #TO import and manage datasets
import glob
import os

### Importing league points table data (2009-2018)

In [2]:
# path = r'C:\Projects\FYP\Datasets\Whoscored\Points-Table' # use your path
path = r'../Datasets/Whoscored/Points-Table' # use your path
folder = glob.glob(path + "/*.csv")

li = []

for file in folder:
#     df = pd.read_csv(filename, index_col=None, header=0)
    individualTeamDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[3]
    individualTeamDataframe['League'] = league
    individualTeamDataframe['Season'] = int(season)
    li.append(individualTeamDataframe)

# combinedDataframe = pd.concat(li, axis=0, ignore_index=True)
combinedTeamDataframe = pd.concat(li)

# dataset = pd.read_csv('C:\Projects\FYP\Datasets\Whoscored\Points-Table\LaLiga-Points-Table-2018-2019.csv')
# league = 'LaLiga'

In [3]:
combinedTeamDataframe

,Rank,Team,Played,Win,Draw,Loss,Goals For,Goals Against,Goal Difference,Points,League,Season
0,1,Bayern Munich,34,20,10,4,72,31,41,70,Bundesliga,2009
1,2,Schalke 04,34,19,8,7,53,31,22,65,Bundesliga,2009
2,3,Werder Bremen,34,17,10,7,71,40,31,61,Bundesliga,2009
3,4,Bayer Leverkusen,34,15,14,5,65,38,27,59,Bundesliga,2009
4,5,Borussia Dortmund,34,16,9,9,54,42,12,57,Bundesliga,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
15,16,Fiorentina,38,8,17,13,47,45,2,41,SerieA,2018
16,17,Genoa,38,8,14,16,39,57,-18,38,SerieA,2018
17,18,Empoli,38,10,8,20,51,70,-19,38,SerieA,2018
18,19,Frosinone,38,5,10,23,29,69,-40,25,SerieA,2018
19,20,Chievo,38,2,14,22,25,75,-50,17,SerieA,2018

### Importing player data (2009-2018)

In [4]:
#Combining All Offensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Offensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
            
        #Cleaning Position column
        if ',' in row["Position"]:
            primary = row["Position"].split(",")[0]
            if '(' in primary:
                primary = primary.split("(")[0]
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            else:
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
        elif '(' in row["Position"]:
            primary = row["Position"].split("(")[0]
            individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            
    li.append(individualOffensivePlayerDataframe)

combinedOffensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [5]:
#Combining All Defensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Defensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
            
        #Cleaning Position column  
        if ',' in row["Position"]:
            primary = row["Position"].split(",")[0]
            if '(' in primary:
                primary = primary.split("(")[0]
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            else:
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
        elif '(' in row["Position"]:
            primary = row["Position"].split("(")[0]
            individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
    
    li.append(individualOffensivePlayerDataframe)

combinedDefensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [6]:
#Combining All Passing Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Passing*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
           
        #Cleaning Position column
        if ',' in row["Position"]:
            primary = row["Position"].split(",")[0]
            if '(' in primary:
                primary = primary.split("(")[0]
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            else:
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
        elif '(' in row["Position"]:
            primary = row["Position"].split("(")[0]
            individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
    
    li.append(individualOffensivePlayerDataframe)

combinedPassingPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [7]:
#Combining All Summary Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Summary*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
            
        #Cleaning Position column    
        if ',' in row["Position"]:
            primary = row["Position"].split(",")[0]
            if '(' in primary:
                primary = primary.split("(")[0]
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            else:
                individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
        elif '(' in row["Position"]:
            primary = row["Position"].split("(")[0]
            individualOffensivePlayerDataframe.set_value(index, 'Position', primary)
            
    
    li.append(individualOffensivePlayerDataframe)

combinedSummaryPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

### Combining all different statistics of players

In [8]:
#combining all the DFs'

combinedPlayerDataframe = pd.concat([combinedOffensivePlayerDataframe, combinedDefensivePlayerDataframe, combinedPassingPlayerDataframe, combinedSummaryPlayerDataframe], axis=1)

combinedPlayerDataframe = combinedPlayerDataframe.loc[:,~combinedPlayerDataframe.columns.duplicated()]

#Removing all the goal keepers to test whether it improves the accuracy of the model.
# combinedFieldPlayersDf = combinedPlayerDataframe[combinedPlayerDataframe.Position != 'GK']

#Removing field players who have played less than 10 matches
#combinedProperFieldPlayersDf = combinedFieldPlayersDf[~(combinedFieldPlayersDf['Apps'] < 8)]

In [9]:
combinedPlayerDataframe

,Name,Team,Age,Position,Apps,Minutes,Total goals,Total Assists,Shots per game,Key passes per game,...,Passes per game,Pass success percentage,Crosses per game,Long balls per game,Through balls per game,Total Goals,Yellow cards,Red cards,Aerials won per game,Man of the match
0,Arjen Robben,Bayern Munich,26,M,18,1779,16,6,3.4,1.8,...,34.3,80.2,1.5,2,0.2,16,1,-,0.4,8
1,Stefan KieÃŸling,Bayer Leverkusen,26,FW,33,2924,21,5,3,1.6,...,32.5,72.4,0.2,0.4,0.1,21,3,-,2.1,6
2,Zvjezdan Misimovic,Wolfsburg,28,AM,31,2768,10,13,2.4,3.3,...,51.1,77.5,2.5,5.7,0.5,10,7,-,0.2,8
3,Edin Dzeko,Wolfsburg,24,FW,33,3003,22,7,4.5,1.1,...,19.5,70.7,0.2,1.1,0.1,22,4,-,0.7,6
4,Claudio Pizarro,Werder Bremen,31,AM,23,2130,16,2,2.6,1.3,...,24.2,75.5,0.1,0.8,-,16,4,-,0.4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,Nicky Medja Beloko,Fiorentina,19,Midfielder,0,45,-,-,-,-,...,10,50,-,-,-,-,1,-,1,-
566,Stephy Mavididi,Juventus,21,Forward,0,21,-,-,-,-,...,4,100,-,-,-,-,-,-,-,-
567,Guido Guerrieri,Lazio,23,Goalkeeper,1,90,-,-,-,-,...,27,66.7,-,4,-,-,-,-,-,-
568,Carlo Pinsoglio,Juventus,29,Goalkeeper,1,90,-,-,-,-,...,30,70,-,9,-,-,-,-,-,-
569,Strahinja Tanasijevic,Chievo,22,Defender,1,18,-,-,0.5,-,...,7,92.9,-,-,-,-,1,1,-,-

In [10]:
combinedPlayerDataframe = combinedPlayerDataframe.replace("-", 0)

### Converting to a pivot table (to make seasonal comparisons)

In [11]:
pivot_table_columns = combinedPlayerDataframe.columns.tolist()
pivot_table_columns.remove("Name")
pivot_table_columns.remove("Season")

In [70]:
combinedPlayerDataframePivot = combinedPlayerDataframe.pivot_table(index=['Name'], columns=['Season'],
                     values = pivot_table_columns, aggfunc='first').reset_index()

In [71]:
combinedPlayerDataframePivot

                        Name Aerials won per game                           \
Season                                       2009 2010 2011 2012 2013 2014
0            Aaron Cresswell                  NaN  NaN  NaN  NaN  NaN  1.4
1               Aaron Hughes                  2.4  2.8  1.8  2.9  3.2  NaN
2                 Aaron Hunt                  0.2  0.2  0.6  0.6  1.1  0.4
3               Aaron Lennon                    0  0.1  0.2  0.2  0.1  0.2
4           Aaron Leya Iseka                  NaN  NaN  NaN  NaN  NaN  NaN
...                      ...                  ...  ...  ...  ...  ...  ...
9146    Ã–gmundur Kristinsson                  NaN  NaN  NaN  NaN  NaN  NaN
9147             Ã–mer Toprak                  0.2  0.6    1  1.7  3.3  3.8
9148          Ã–zkan Yildirim                  NaN  NaN  NaN  0.5  0.2    1
9149            Ã˜rjan Nyland                  NaN  NaN  NaN  NaN  NaN  NaN
9150            Ãœmit Korkmaz                  0.2    0  NaN  NaN  NaN  NaN

                       ... Yellow cards                                     \
Season 2015 2016 2017  ...         2009 2010 2011 2012 2013 2014 2015 2016
0       1.1  1.4  1.6  ...          NaN  NaN  NaN  NaN  NaN    5    1    2
1       NaN  NaN  NaN  ...            2    0    0    1    2  NaN  NaN  NaN
2       1.1  0.6  0.7  ...            3    2    0    3    2    1    2    3
3         0    0  0.5  ...            1    1    1    1    1    2    1    0
4       NaN  0.8  NaN  ...          NaN  NaN  NaN  NaN  NaN  NaN  NaN    0
...     ...  ...  ...  ...          ...  ...  ...  ...  ...  ...  ...  ...
9146    NaN  NaN  0.5  ...          NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9147    2.9  2.9  3.2  ...            3    2    5    8    5   10    2    6
9148      1  NaN  NaN  ...          NaN  NaN  NaN    0    0    0    0  NaN
9149      0  0.3  NaN  ...          NaN  NaN  NaN  NaN  NaN  NaN    0    0
9150    NaN  NaN  NaN  ...            2    0  NaN  NaN  NaN  NaN  NaN  NaN


Season 2017 2018
0         7    1
1       NaN  NaN
2         1  NaN
3         2    1
4       NaN    2
...     ...  ...
9146      0  NaN
9147      1    0
9148    NaN  NaN
9149    NaN  NaN
9150    NaN  NaN

[9151 rows x 331 columns]

In [72]:
combinedPlayerDataframePivot.loc[combinedPlayerDataframePivot['Name'] == 'Aaron Hughes']['Apps']['2018'].tolist()[0]

nan

### Flattening the DF for easier data manipulation

In [73]:
combinedFlattenedDataFrame = combinedPlayerDataframePivot
combinedFlattenedDataFrame.columns = combinedFlattenedDataFrame.columns.map('_'.join)
combinedFlattenedDataFrame.rename(columns={'Name_':'Name'}, inplace=True)
combinedFlattenedDataFrame

,Name,Aerials won per game_2009,Aerials won per game_2010,Aerials won per game_2011,Aerials won per game_2012,Aerials won per game_2013,Aerials won per game_2014,Aerials won per game_2015,Aerials won per game_2016,Aerials won per game_2017,...,Yellow cards_2009,Yellow cards_2010,Yellow cards_2011,Yellow cards_2012,Yellow cards_2013,Yellow cards_2014,Yellow cards_2015,Yellow cards_2016,Yellow cards_2017,Yellow cards_2018
0,Aaron Cresswell,NaN,NaN,NaN,NaN,NaN,1.4,1.1,1.4,1.6,...,NaN,NaN,NaN,NaN,NaN,5,1,2,7,1
1,Aaron Hughes,2.4,2.8,1.8,2.9,3.2,NaN,NaN,NaN,NaN,...,2,0,0,1,2,NaN,NaN,NaN,NaN,NaN
2,Aaron Hunt,0.2,0.2,0.6,0.6,1.1,0.4,1.1,0.6,0.7,...,3,2,0,3,2,1,2,3,1,NaN
3,Aaron Lennon,0,0.1,0.2,0.2,0.1,0.2,0,0,0.5,...,1,1,1,1,1,2,1,0,2,1
4,Aaron Leya Iseka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9146,Ã–gmundur Kristinsson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
9147,Ã–mer Toprak,0.2,0.6,1,1.7,3.3,3.8,2.9,2.9,3.2,...,3,2,5,8,5,10,2,6,1,0
9148,Ã–zkan Yildirim,NaN,NaN,NaN,0.5,0.2,1,1,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN
9149,Ã˜rjan Nyland,NaN,NaN,NaN,NaN,NaN,NaN,0,0.3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
9150,Ãœmit Korkmaz,0.2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Preprocessing Data

In [88]:
#Removing players who have played less than 10 games in last season
minimum_number_of_games_played = 10
combinedFlattenedDataFrame = combinedFlattenedDataFrame[combinedFlattenedDataFrame['Apps_2018'] > minimum_number_of_games_played]

#Removing players who haven't played in the recent past 2 seasons
#Removing players who have had 0 rating the past season
recent_seasons = ['Rating_2017', 'Rating_2018']
players_last_seasons = combinedFlattenedDataFrame[recent_seasons[-2:]].isnull().any(axis=1)
players_zero_rating = combinedFlattenedDataFrame[recent_seasons[-1]] == 0 
df_to_remove = players_last_seasons | players_zero_rating
cleanedDataFrame = combinedFlattenedDataFrame[~df_to_remove]

# Preview data
cleanedDataFrame.head()

,Name,Aerials won per game_2009,Aerials won per game_2010,Aerials won per game_2011,Aerials won per game_2012,Aerials won per game_2013,Aerials won per game_2014,Aerials won per game_2015,Aerials won per game_2016,Aerials won per game_2017,...,Yellow cards_2009,Yellow cards_2010,Yellow cards_2011,Yellow cards_2012,Yellow cards_2013,Yellow cards_2014,Yellow cards_2015,Yellow cards_2016,Yellow cards_2017,Yellow cards_2018
0,Aaron Cresswell,NaN,NaN,NaN,NaN,NaN,1.4,1.1,1.4,1.6,...,NaN,NaN,NaN,NaN,NaN,5,1,2,7,1
3,Aaron Lennon,0,0.1,0.2,0.2,0.1,0.2,0,0,0.5,...,1,1,1,1,1,2,1,0,2,1
6,Aaron Meijers,NaN,NaN,NaN,NaN,1,1.4,1.3,1.3,1.6,...,NaN,NaN,NaN,NaN,3,5,7,3,8,8
8,Aaron Mooy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4
9,Aaron Ramsey,0.7,0,0.3,0.4,0.5,0.6,0.9,0.3,0.4,...,0,1,3,5,3,6,4,3,0,0

## Analyzing Data