In [36]:
#Importing Libraries
import numpy as np #To handle Mathematical calculations
import matplotlib.pyplot as plt #To plot charts 
%matplotlib inline
import pandas as pd #TO import and manage datasets
import glob
import os
# pd.set_option('display.max_columns', None)  
# pd.set_option('display.max_rows', None)

In [62]:
#Combining All Offensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Offensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
            
#     individualOffensivePlayerDataframe = individualOffensivePlayerDataframe.drop_duplicates(subset=['Name'], keep='first')
    li.append(individualOffensivePlayerDataframe)

combinedOffensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [63]:
#Combining All Defensive Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Defensive*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
#     individualOffensivePlayerDataframe = individualOffensivePlayerDataframe.drop_duplicates(subset=['Name'], keep='first')
    li.append(individualOffensivePlayerDataframe)

combinedDefensivePlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [64]:
#Combining All Passing Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Passing*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
#     individualOffensivePlayerDataframe = individualOffensivePlayerDataframe.drop_duplicates(subset=['Name'], keep='first')
    li.append(individualOffensivePlayerDataframe)

combinedPassingPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [65]:
#Combining All Summary Data
path = r'../Datasets/Whoscored/Player-Stats'
folder = glob.glob(path + "/*Summary*.csv")

li = []

for file in folder:
    individualOffensivePlayerDataframe = pd.read_csv(file)
    league = os.path.basename(file).split('-')[0]
    season = os.path.basename(file).split('-')[2]
    individualOffensivePlayerDataframe['League'] = league
    individualOffensivePlayerDataframe['Season'] = season
    for index, row in individualOffensivePlayerDataframe.iterrows():
        age = int(row["Age"]) - (2018-int(row["Season"]))
        individualOffensivePlayerDataframe.set_value(index, 'Age', age)
        
        #Cleaning Apps column
        if '(' in row["Apps"] :
            apps = int(row["Apps"].split("(")[0])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
        else :
            apps = int(row["Apps"])
            individualOffensivePlayerDataframe.set_value(index, 'Apps', apps)
    
#     individualOffensivePlayerDataframe = individualOffensivePlayerDataframe.drop_duplicates(subset=['Name'], keep='first')
    li.append(individualOffensivePlayerDataframe)

combinedSummaryPlayerDataframe = pd.concat(li)

C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Suwadith\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [66]:
#combining all the DFs'

combinedPlayerDataframe = pd.concat([combinedOffensivePlayerDataframe, combinedDefensivePlayerDataframe, combinedPassingPlayerDataframe, combinedSummaryPlayerDataframe], axis=1)

combinedPlayerDataframe = combinedPlayerDataframe.loc[:,~combinedPlayerDataframe.columns.duplicated()]

#Removing all the goal keepers to test whether it improves the accuracy of the model.
combinedFieldPlayersDf = combinedPlayerDataframe[combinedPlayerDataframe.Position != 'GK']

#Removing field players who have played less than 10 matches
#combinedProperFieldPlayersDf = combinedFieldPlayersDf[~(combinedFieldPlayersDf['Apps'] < 8)]

In [42]:
combinedFieldPlayersDf

,Name,Team,Age,Position,Apps,Minutes,Total goals,Total Assists,Shots per game,Key passes per game,...,Passes per game,Pass success percentage,Crosses per game,Long balls per game,Through balls per game,Total Goals,Yellow cards,Red cards,Aerials won per game,Man of the match
0,Arjen Robben,Bayern Munich,26,"M(CLR),FW",18,1779,16,6,3.4,1.8,...,34.3,80.2,1.5,2,0.2,16,1,-,0.4,8
1,Stefan Kießling,Bayer Leverkusen,26,FW,33,2924,21,5,3,1.6,...,32.5,72.4,0.2,0.4,0.1,21,3,-,2.1,6
2,Zvjezdan Misimovic,Wolfsburg,28,"AM(C),FW",31,2768,10,13,2.4,3.3,...,51.1,77.5,2.5,5.7,0.5,10,7,-,0.2,8
3,Edin Dzeko,Wolfsburg,24,FW,33,3003,22,7,4.5,1.1,...,19.5,70.7,0.2,1.1,0.1,22,4,-,0.7,6
4,Claudio Pizarro,Werder Bremen,31,"AM(C),FW",23,2130,16,2,2.6,1.3,...,24.2,75.5,0.1,0.8,-,16,4,-,0.4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,Nicky Medja Beloko,Fiorentina,19,Midfielder,0,45,-,-,-,-,...,10,50,-,-,-,-,1,-,1,-
566,Stephy Mavididi,Juventus,21,Forward,0,21,-,-,-,-,...,4,100,-,-,-,-,-,-,-,-
567,Guido Guerrieri,Lazio,23,Goalkeeper,1,90,-,-,-,-,...,27,66.7,-,4,-,-,-,-,-,-
568,Carlo Pinsoglio,Juventus,29,Goalkeeper,1,90,-,-,-,-,...,30,70,-,9,-,-,-,-,-,-
569,Strahinja Tanasijevic,Chievo,22,Defender,1,18,-,-,0.5,-,...,7,92.9,-,-,-,-,1,1,-,-

In [43]:
allColumns = combinedFieldPlayersDf.columns.tolist()
pivotColumns = allColumns
pivotColumns.remove('Name')
pivotColumns.remove('Season')
pivotColumns

['Team',
 'Age',
 'Position',
 'Apps',
 'Minutes',
 'Total goals',
 'Total Assists',
 'Shots per game',
 'Key passes per game',
 'Dribbles per game',
 'Fouled per game',
 'Offsides per game',
 'Dispossessed per game',
 'Bad control per game',
 'Rating',
 'League',
 'Tackles per game',
 'Interceptions per game',
 'Fouls per game',
 'Clearances per game',
 'Dribbled past per game',
 'Outfield blocks per game',
 'Own goals',
 'Passes per game',
 'Pass success percentage',
 'Crosses per game',
 'Long balls per game',
 'Through balls per game',
 'Total Goals',
 'Yellow cards',
 'Red cards',
 'Aerials won per game',
 'Man of the match']

In [9]:
nameSeasonPivotDf = combinedFieldPlayersDf.pivot_table(index=['Name'], columns=['Season'],
                     values=pivotColumns, aggfunc='first').reset_index()

In [10]:
nameSeasonPivotDf = nameSeasonPivotDf.replace('-', 0)
nameSeasonPivotDf

                    Name Aerials won per game                                \
Season                                   2009 2010 2011 2012 2013 2014 2015
0        Aaron Cresswell                  NaN  NaN  NaN  NaN  NaN  1.4  1.1
1           Aaron Hughes                  2.4  2.8  1.8  2.9  3.2  NaN  NaN
2             Aaron Hunt                  0.2  0.2  0.6  0.6  1.1  0.4  1.1
3           Aaron Lennon                    0  0.1  0.2  0.2  0.1  0.2    0
4       Aaron Leya Iseka                  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                  ...                  ...  ...  ...  ...  ...  ...  ...
8570       Óscar Serrano                  0.2    0  0.1  NaN  NaN  NaN  NaN
8571         Óscar Trejo                  NaN  NaN  0.5  NaN  0.7  0.4  0.5
8572         Ömer Toprak                  0.2  0.6    1  1.7  3.3  3.8  2.9
8573      Özkan Yildirim                  NaN  NaN  NaN  0.5  0.2    1    1
8574        Ümit Korkmaz                  0.2    0  NaN  NaN  NaN  NaN  NaN

                  ... Yellow cards                                          \
Season 2016 2017  ...         2009 2010 2011 2012 2013 2014 2015 2016 2017
0       1.4  1.6  ...          NaN  NaN  NaN  NaN  NaN    5    1    2    7
1       NaN  NaN  ...            2    0    0    1    2  NaN  NaN  NaN  NaN
2       0.6  0.7  ...            3    2    0    3    2    1    2    3    1
3         0  0.5  ...            1    1    1    1    1    2    1    0    2
4       0.8  NaN  ...          NaN  NaN  NaN  NaN  NaN  NaN  NaN    0  NaN
...     ...  ...  ...          ...  ...  ...  ...  ...  ...  ...  ...  ...
8570    NaN  NaN  ...            7    1    1  NaN  NaN  NaN  NaN  NaN  NaN
8571    0.7  NaN  ...          NaN  NaN    5  NaN    4    4    6    4  NaN
8572    2.9  3.2  ...            3    2    5    8    5   10    2    6    1
8573    NaN  NaN  ...          NaN  NaN  NaN    0    0    0    0  NaN  NaN
8574    NaN  NaN  ...            2    0  NaN  NaN  NaN  NaN  NaN  NaN  NaN


Season 2018
0         1
1       NaN
2       NaN
3         1
4         2
...     ...
8570    NaN
8571      5
8572      0
8573    NaN
8574    NaN

[8575 rows x 331 columns]

In [11]:
playerList = nameSeasonPivotDf.Name.tolist()

In [12]:
nameSeasonPivotDf.loc[nameSeasonPivotDf['Name'] == 'Aaron Hunt']['Rating']['2009'].tolist()[0]

7.15

In [13]:
combinedFieldPlayersDf.loc[combinedFieldPlayersDf['Name'] == 'Afriyie Acquah']['Rating'].isnull().tolist()

[False, False, False, False, False, False, False, False, False, False]

In [14]:
decadeOfPLayerDf = combinedFieldPlayersDf

for name in playerList:
    nameDf = combinedFieldPlayersDf.loc[combinedFieldPlayersDf['Name'] == name]
    if nameDf.shape[0] != 10:
        decadeOfPLayerDf = decadeOfPLayerDf[decadeOfPLayerDf.Name != name]
        
decadeOfPLayerDf = decadeOfPLayerDf.pivot_table(index=['Name'], columns=['Season'],
                     values=pivotColumns, aggfunc='first').reset_index()

In [15]:
decadeOfPLayerDf = decadeOfPLayerDf.replace('-', 0)
decadeOfPLayerDf = decadeOfPLayerDf.fillna(0)
decadeOfPLayerDf

                     Name Aerials won per game                                \
Season                                    2009 2010 2011 2012 2013 2014 2015
0              Aaron Hunt                  0.2  0.2  0.6  0.6  1.1  0.4  1.1
1            Aaron Ramsey                  0.7    0  0.3  0.4  0.5  0.6  0.9
2          Afriyie Acquah                    0  0.5  0.4  0.6  0.6  0.8  0.7
3       Alberto Gilardino                  1.5  0.9  2.1  2.3  2.1  1.1  2.2
4             Albin Ekdal                  0.5  0.3  0.8  1.7  1.2  1.4  3.4
..                    ...                  ...  ...  ...  ...  ...  ...  ...
225         Álvaro Morata                    0    0    0  1.7  0.9  0.8  0.6
226         Étienne Didot                  0.4  0.4  0.2  0.6  0.5  1.1  1.6
227           Éver Banega                  0.3  0.3  0.1  0.2  0.2  0.2  0.2
228       Óscar De Marcos                  0.6  0.7  0.6    1  0.9  1.3  1.4
229           Ömer Toprak                  0.2  0.6    1  1.7  3.3  3.8  2.9

                  ... Yellow cards                                          \
Season 2016 2017  ...         2009 2010 2011 2012 2013 2014 2015 2016 2017
0       0.6  0.7  ...            3    2    0    3    2    1    2    3    1
1       0.3  0.4  ...            0    1    3    5    3    6    4    3    0
2       0.8  0.6  ...            0    2    5    3    7    3    9    2    3
3       0.4    0  ...            1    3    3    4    8    0    4    2    0
4       1.7  1.6  ...            3    4    3    8    6    7    4    2    3
..      ...  ...  ...          ...  ...  ...  ...  ...  ...  ...  ...  ...
225     0.9  1.7  ...            0    0    0    3    2    6    6    8    7
226     0.6  0.9  ...            3    2    3    5    7    4    1    6    4
227     0.2  0.4  ...           12    8    3    7    5   11    6    2    9
228     1.1    1  ...            1    3    9   14    3    6    6    3    5
229     2.9  3.2  ...            3    2    5    8    5   10    2    6    1


Season 2018
0         0
1         0
2         4
3         0
4         6
..      ...
225       5
226       4
227      15
228       4
229       0

[230 rows x 331 columns]

In [16]:
decadePlayerList = decadeOfPLayerDf.Name.tolist()

In [17]:
#creating a non pivot table with all active player ratings
df_ = {}
tableColumn=['Name','Age','Season','Team','League','Position','Apps','Minutes','Total goals','Total Assists','Shots per game',
                 'Key passes per game','Dribbles per game','Fouled per game','Offsides per game','Dispossessed per game',
                 'Bad control per game','Tackles per game','Interceptions per game','Fouls per game','Clearances per game',
                 'Dribbled past per game','Outfield blocks per game','Own goals','Passes per game','Pass success percentage',
                 'Crosses per game','Long balls per game','Through balls per game','Total Goals','Yellow cards','Red cards',
                 'Aerials won per game','Man of the match','Rating']

for name in decadePlayerList:
    
    tableList = []
    currentName = name
    for i in range(2009, 2019):
        tableList.append([
            name, 
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Age'][str(i)].tolist()[0],
            i, 
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Team'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['League'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Position'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Apps'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Minutes'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Total goals'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Total Assists'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Shots per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Key passes per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Dribbles per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Fouled per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Offsides per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Dispossessed per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Bad control per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Tackles per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Interceptions per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Fouls per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Clearances per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Dribbled past per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Outfield blocks per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Own goals'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Passes per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Pass success percentage'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Crosses per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Long balls per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Through balls per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Total Goals'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Yellow cards'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Red cards'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Aerials won per game'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Man of the match'][str(i)].tolist()[0],
            decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == name]['Rating'][str(i)].tolist()[0]
        ])
    
    playerDf = pd.DataFrame(tableList, columns=tableColumn)
    df_[name] = playerDf.set_index('Season')
    df_[name].index = pd.to_datetime(df_[name].index, format = '%Y')

In [18]:
df_['Lionel Messi']

,Name,Age,Team,League,Position,Apps,Minutes,Total goals,Total Assists,Shots per game,...,Pass success percentage,Crosses per game,Long balls per game,Through balls per game,Total Goals,Yellow cards,Red cards,Aerials won per game,Man of the match,Rating
Season,,,,,,,,,,,,,,,,,,,,,
2009-01-01,Lionel Messi,23.0,Barcelona,LaLiga,"AM(CR),FW",30.0,2841.0,34,10,4.7,...,85.7,0.6,1.3,0.7,34,3,0,0.2,14,8.67
2010-01-01,Lionel Messi,24.0,Barcelona,LaLiga,"AM(CR),FW",31.0,2859.0,31,18,4.5,...,86.2,0.2,1.4,1,31,3,0,0.1,20,8.76
2011-01-01,Lionel Messi,25.0,Barcelona,LaLiga,"AM(CR),FW",36.0,3268.0,50,16,5.5,...,84.2,0.4,1.4,1.5,50,6,0,0.1,24,8.88
2012-01-01,Lionel Messi,26.0,Barcelona,LaLiga,"AM(CR),FW",28.0,2644.0,46,12,5.1,...,85.2,0.2,2.1,0.4,46,1,0,0.2,19,8.83
2013-01-01,Lionel Messi,27.0,Barcelona,LaLiga,"AM(CR),FW",29.0,2508.0,27,11,5,...,84.9,0.3,1.1,0.4,27,2,0,0.2,13,8.34
2014-01-01,Lionel Messi,28.0,Barcelona,LaLiga,"AM(CR),FW",37.0,3375.0,43,18,4.9,...,82.9,0.5,2.7,0.9,43,4,0,0.2,25,8.84
2015-01-01,Lionel Messi,29.0,Barcelona,LaLiga,"AM(CR),FW",31.0,2730.0,26,16,4.8,...,81.9,0.4,3.5,1,26,3,0,0.2,13,8.46
2016-01-01,Lionel Messi,30.0,Barcelona,LaLiga,"AM(CR),FW",32.0,2833.0,37,9,5.3,...,80.2,0.3,2.7,0.6,37,6,0,0.2,16,8.47
2017-01-01,Lionel Messi,31.0,Barcelona,LaLiga,"AM(CR),FW",32.0,2997.0,34,12,5.5,...,81.2,0.3,2.1,0.5,34,3,0,0.2,22,8.68
2018-01-01,Lionel Messi,32.0,Barcelona,LaLiga,"AM(CR),FW",29.0,2710.0,36,13,5,...,81.3,0.4,3.4,0.9,36,3,0,0.2,17,8.48

In [25]:
decadeOfPLayerDf.loc[decadeOfPLayerDf['Name'] == 'Lionel Messi']['Rating']

Season  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018
122     8.67  8.76  8.88  8.83  8.34  8.84  8.46  8.47  8.68  8.48

In [232]:
players09 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2009')]
players09 = players09[['Name', 'Season', 'Rating']]

players10 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2010')]
players10 = players10[['Name', 'Season', 'Rating']]

players11 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2011')]
players11 = players11[['Name', 'Season', 'Rating']]

players12 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2012')]
players12 = players12[['Name', 'Season', 'Rating']]

players13 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2013')]
players13 = players13[['Name', 'Season', 'Rating']]

players14 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2014')]
players14 = players14[['Name', 'Season', 'Rating']]

players15 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2015')]
players15 = players15[['Name', 'Season', 'Rating']]

players16 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2016')]
players16 = players16[['Name', 'Season', 'Rating']]

players17 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2017')]
players17 = players17[['Name', 'Season', 'Rating']]

players18 = combinedPlayerDataframe[(combinedPlayerDataframe.Season == '2018')]
players18 = players18[['Name', 'Season', 'Rating']]

allPLayers = combinedPlayerDataframe[['Name', 'Season', 'Rating']]

# allPLayers = combinedPlayerDataframe

allPLayers
allPLayers = allPLayers.assign(id=(allPLayers['Name']).astype('category').cat.codes)
allPLayers
del allPLayers['Name']
# allPLayers = allPLayers[['id', 'Season', 'Rating']]
cols = allPLayers.columns.tolist()
# cols.remove('Team')
# cols.remove('Position')
# cols.remove('League')
cols.insert(0, cols.pop(cols.index('id')))
allPLayers = allPLayers.reindex(columns= cols)
allPLayers
allPLayers.dtypes
allPLayers

allPLayers.loc[allPLayers['id'] == 5104]

     id Season  Rating
0  5104   2009    8.67
1  5104   2010    8.76
0  5104   2011    8.88
0  5104   2012    8.83
0  5104   2013    8.34
0  5104   2014    8.84
0  5104   2015    8.46
1  5104   2016    8.47
0  5104   2017    8.68
0  5104   2018    8.48

In [233]:
# melt2 = allPLayers.copy()
# melt2['Last_Season_Rating'] = melt2.groupby(['id'])['Rating'].shift()
# melt2 = melt2.dropna()
# melt2['Last_Season_Diff'] = melt2['Last_Season_Rating'].diff()
# melt2["Season"] = pd.to_numeric(melt2["Season"])
# melt2


melt3 = allPLayers.copy()
melt3["Season"] = pd.to_numeric(melt3["Season"])
melt3['Last_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift()
melt3['Last_Season_Diff'] = melt3['Last_Season_Rating'].diff()
# melt3['Last-1_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift(2)
# melt3['Last-1_Season_Diff'] = melt3['Last-1_Season_Rating'].diff()

# melt3['Last-2_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift(3)
# melt3['Last-2_Season_Diff'] = melt3['Last-2_Season_Rating'].diff()
# melt3['Last-3_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift(4)
# melt3['Last-3_Season_Diff'] = melt3['Last-3_Season_Rating'].diff()
# melt3['Last-4_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift(5)
# melt3['Last-4_Season_Diff'] = melt3['Last-4_Season_Rating'].diff()
# melt3['Last-5_Season_Rating'] = melt3.groupby(['id'])['Rating'].shift(6)
# melt3['Last-5_Season_Diff'] = melt3['Last-5_Season_Rating'].diff()

melt3.dropna()
melt3.dtypes
melt3 = melt3.fillna(melt3.mean())
# melt3.loc[melt3['id'] == 79]
# melt3 = melt3.replace('-', 0)
# melt3.head()

     id  Season  Rating  Last_Season_Rating  Last_Season_Diff
0   797    2009    8.18            6.763421         -0.000713
1  8130    2009    7.79            6.763421         -0.000713
2  9061    2009    7.74            6.763421         -0.000713
3  2304    2009    7.73            6.763421         -0.000713
4  1516    2009    7.63            6.763421         -0.000713

In [219]:
def rmsle(ytrue, ypred):
    return np.sqrt(mean_squared_log_error(ytrue, ypred))

In [220]:
from sklearn.metrics import mean_squared_log_error

mean_error = []
for season in range(2016,2018):
    train = melt3[melt3['Season'] < season]
    val = melt3[melt3['Season'] == season]

    p = val['Last_Season_Rating'].values

    error = rmsle(val['Rating'].values, p)
    print('Season %d - Error %.5f' % (season, error))
    mean_error.append(error)
print('Mean Error = %.5f' % np.mean(mean_error))

Season 2016 - Error 0.05211
Season 2017 - Error 0.05165
Mean Error = 0.05188

In [223]:
p

array([6.34145, 6.65964, 7.29876, ..., 6.43198, 7.02496, 7.63625])

In [221]:
from sklearn.ensemble import RandomForestRegressor

mean_error = []
for season in range(2016,2018):
    train = melt3[melt3['Season'] < season]
    val = melt3[melt3['Season'] == season]

    xtr, xts = train.drop(['Rating'], axis=1), val.drop(['Rating'], axis=1)
    ytr, yts = train['Rating'].values, val['Rating'].values

    mdl = RandomForestRegressor(n_estimators=1000, n_jobs=-1, random_state=0)
    mdl.fit(xtr, ytr)

    p = mdl.predict(xts)

    error = rmsle(yts, p)
    print('Week %d - Error %.5f' % (season, error))
    mean_error.append(error)
print('Mean Error = %.5f' % np.mean(mean_error))

Week 2016 - Error 0.04495
Week 2017 - Error 0.04356
Mean Error = 0.04425

In [211]:
from sklearn.model_selection import cross_val_score
from sklearn import model_selection
scores = cross_val_score(mdl, xts, yts, cv=10)
print(scores)
print(scores.mean())

# seed = 7
# kfold = model_selection.KFold(n_splits=10, random_state=seed)
# scoring = 'r2'
# results = model_selection.cross_val_score(mdl, xts, yts, cv=kfold, scoring=scoring)
# print("RandomForestRegressor")
# print(results.mean(), results.std())

[-1.11278187  0.23202186 -0.72235634 -0.12750396  0.24819362 -1.12176396
  0.39223779 -0.40777382  0.27162623 -1.01692597]
-0.33650264176724437

In [212]:
melt3

,id,Season,Rating,Last_Season_Rating,Last_Season_Diff,Last-1_Season_Rating,Last-1_Season_Diff,Last-2_Season_Rating,Last-2_Season_Diff,Last-3_Season_Rating,Last-3_Season_Diff,Last-4_Season_Rating,Last-4_Season_Diff,Last-5_Season_Rating,Last-5_Season_Diff
0,797,2009,8.18,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
1,8130,2009,7.79,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
2,9061,2009,7.74,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
3,2304,2009,7.73,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
4,1516,2009,7.63,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,6526,2018,5.83,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
566,8192,2018,5.79,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
567,3321,2018,5.74,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
568,1255,2018,5.73,6.110000,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169
569,8241,2018,5.42,6.763421,-0.000713,6.807497,0.002576,6.837018,-0.004599,6.85849,-0.000382,6.87359,0.006496,6.879234,-0.002169

In [135]:
from sklearn.metrics import median_absolute_error
median_absolute_error(yts,p)

0.17474500000001214

In [136]:
seed = 7
kfold = model_selection.KFold(n_splits=10, random_state=seed)
scoring = 'r2'
results = model_selection.cross_val_score(mdl, xtr, ytr, cv=kfold, scoring=scoring)
print("RandomForestRegressor")
print(results.mean(), results.std())

RandomForestRegressor
0.27437773886404115 0.04325780659678339

        id  Season  Rating
0    False   False   False
1    False   False   False
2    False   False   False
3    False   False   False
4    False   False   False
..     ...     ...     ...
565  False   False   False
566  False   False   False
567  False   False   False
568  False   False   False
569  False   False   False

[30061 rows x 3 columns]